* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #BA8B02;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   /* background-color: s#FAF8F0; */
   cursor: url(../pointer/pointer1.png) 0 0,pointer; 
}
a {
    text-decoration: none;
    color: #ffffff;
}
::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(82,80,59,1) 48%, rgba(182,144,60,1) 98%);
  } 
.header {
    max-width:1440px;
    height: 80px;
    margin: 0 auto;
    background-color:#52503B;
    display: flex;
    gap: 290px;
}
.header__logo {
    padding-left: 120px;
    padding-top: 8px;
    align-self: center;
}
.header__nav {
    height: 60px;
    align-self: center;
}
.navigation {
    padding-top:20px ;
    padding-left: 12.5px;
    padding-right: 11.5px;
    display: flex;
    gap: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color:#ffffff;
}
.header__btn {
    align-self: center;
}
.btn {
    width:117px;
    height: 42px;
    text-align: center;
    border-radius: 6px;
    font-family:'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: url(../pointer/pointer6.png) 0 0,pointer;   
}
.main {
    position: relative;
    margin:0 auto;
    height:800px;
    max-width:1440px;
    background-image:url(../images/IMAGE4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 178px;
}
.main__logo { 
    margin: 0 auto;
    max-width:256px;
    margin-bottom: 34px;
}
.main__title { 
    margin: 0 auto;
    margin-bottom:34px;
}
.title {
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
}
.main__subtitle {
    margin: 0 auto;
    margin-bottom: 116.75px;
}
.subtitle { 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}
.descriptio {
    background-color:#FAF8F0;
    margin: 0 auto;
    padding-top: 141px;
    max-width: 1440px;
    height: 410px;
    padding-left: 361px;
    padding-right: 336px;
}
.descriptio__wrap {
    /* margin: 0 auto; */
    display: flex;
    gap: 40px;
    justify-content:space-evenly;
    align-content: center;
    position: relative;
}
.descriptio__wrap::before {
    position: absolute;
    content: "";
    height: 8px;
    left: 47.38%;
    right: 47.38%;
    top: -33px;
    background: #E08631;
}
.descriptio__text {
    max-width:360px;
}
.descriptio__secondText {
    max-width: 343px;
}
.slogan {
    margin: 0 auto;
    background-color: #ffffff;
    padding-top: 140px;
    padding-left: 76px;
    padding-bottom:140px;
    max-width: 1440px;
}
.slogan__text {

    max-width:1287px;
    margin: 0 auto;

    position: relative;
    font-family: 'Montserrat';
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: center;
}
.slogan__text::before {
    position: absolute;
    content: "";
    height: 8px;
    left: 48.54%;
    right: 48.54%;
    top: -32px;
    background: #E08631;
}
.img {
    margin: 0 auto;
    display: block;
    max-width: 100%;    
}
.sleeping {
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    background-color:#FAF8F0;
    padding-top: 138px;
    padding-bottom: 99px;
    padding-left: 136px;
    padding-right: 136px;
}
.sleeping-wrap {
    max-width:1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 158px 140px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 76px;
    grid-template-areas:
        "header header header"
        "bed bedroom bath" ;
    justify-content: center;
    justify-items:center   
}
.slepping-wrap__definition {
    grid-area: header;
    justify-self: center;
    text-align: center;
    position: relative;
}
.slepping-wrap__definition p {
    text-decoration:overline;
    max-width: 554px;
}
.sleeping-wrap__bed {
    grid-area:bed;
}
.sleeping-bed{
    text-align: center;
}
.sleeping-bed__title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}
.sleeping-bed__text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.slepping-bedrooms {
    text-align: center;
}
.sleeping-wrap__bedrooms {
    grid-area:bedroom;
}
.sleeping-bedrooms__title{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}
.sleeping-bedrooms__text{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.slepping-bathroom {
    text-align: center;
}
.sleeping-wrap__bathroom {
    grid-area:bath;
}
.sleeping-bathroom__title{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}
.sleeping-bathroom__text{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.service {
    margin: 0 auto;
}
.service__wrap {
    background-color:#ffffff;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 138px;
    padding-bottom: 109px;
    padding-left: 136px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title ."
    "kitchen air"
    "outdoor storage"
    "coffee cutlery"
    "natural take-away";
    column-gap: 10px;
}
.title__service {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    grid-area: title;
    margin-bottom: 32px;
}
.title-service__text{
    max-width: 554px;
    color: #52503B;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    
}
.modern-service {
    grid-area: kitchen;
    color: #52503B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 40px;
}
.air-service{
    grid-area: air;
    color: #52503B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 40px;
}
.outdoor-service {
    grid-area: outdoor;
    color: #52503B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 40px;
}
.storage-service{
    grid-area:storage;
    color: #52503B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 40px;
}
.coffee-service {
    grid-area:coffee;
    color: #52503B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 40px;
}
.cutlery-service {
    grid-area:cutlery;
    color: #52503B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 40px;
}
.natural-service {
    grid-area:natural;
    color: #52503B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 40px;
}
.take-away-service {
    grid-area:take-away;
    color: #52503B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 40px;
}
.reviews {
    margin: 0 auto;
}
.reviews__wrap {
    margin: 0 auto;
    max-width: 1440px;
    background-color: #FAF8F0;
    padding-bottom: 150px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.reviews__title {
    max-width: 600px;
    color: #52503B;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    line-height: 36px; /* 112.5% */
}
.reviews__title > h2 {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 14px;
}
.reviews__title > p {
    max-width: 572px;
    font-weight: 400;
    font-size: 16px;
}
.reviews-comment {
    max-width: 1220px;
    max-height: 350px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    padding-left: 80px;
    overflow-x: hidden;    
}

.reviews-comment__1 {
    min-width: 350px;
    padding-top: 31px;
    padding-bottom: 5px;
    padding-left: 31px;
    padding-right: 47px;
    background-color: #f9f9fd;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    from { transform: translateX(350%); }
    to { transform: translateX(-430%); }
  }

.reviews-comment__1 p {
    padding-top: 15px;
}
.name-comment {
    position: relative;
}
.name-comment::before {
    position: absolute;
    content: "";
    left: -10px;
    width: 2px;
    height: 20px;
    background: #E08631;
}

.footer {
    padding: 80px;
    margin: 0 auto;
    max-width: 1440px;
    height: 610px;
    background-color: #52503B;
}

.footer-wrap {
    display: grid;
    grid-template-areas:
    "nav social form"
    "data data data";
    gap: 50px;
    justify-content: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color:#ffffff;
}
h4 {
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: 2px
}
.footer__nav {
    grid-area: nav;
    margin-right: 50px;
}
.footer__nav > a {
    display: block;
    margin-bottom: 5px;
}
.footer__social-media{
    grid-area: social;
    margin-right: 90px;
}

.footer__input {
    grid-area: form;
    
}
.footer__input > input{
    margin-top: 10px;
    width: 300px;
    height:  24px;
    background-color:  whitesmoke;    
    border: none;  
    border-radius: 3px;
}
.footer__input >  input::placeholder {
    font-family: 'Raleway';
    font-size: 15px;
    line-height: 24px;
    color: rgba(112, 112, 112, 1);
}
.footer__input > button {
    height: 15%;
    width: 6%;
    border-radius: 40px;
    background-color: rgba(112, 112, 112, 1);
    cursor: pointer ;
}
.footer__data {
    grid-area: data;
    justify-self: center;
    text-align: center;
}
.footer__data > p{
    margin-top: 10px;
}